<%= link_to 'Back', experiments_path %>
<p id="notice"><%= notice %></p>
<h1>Export Experiment Results</h1>
<br/>
<script type="text/javascript">

  function selectAll()
  {
  	var checkboxes = document.getElementsByName("export_fields[]");
  	for(var i=0;i<checkboxes.length;i++)
  	{
  		checkboxes[i].checked=true;
  	}
  	
  }
  
  function selectNone()
  {
  	var checkboxes = document.getElementsByName("export_fields[]");
  	for(var i=0;i<checkboxes.length;i++)
  	{
  		checkboxes[i].checked=false;
  	}
  	
  }
  
</script>

<button onclick="selectAll()">Check All</button>
<button onclick="selectNone()">Clear</button>
<br/>
<a href="../upload/index">Back to Upload</a>

<br />
<%= form_for :file_export, :html => {:multipart => true}, :url => { :action => "export" } do |f| %>
<h2>Field Selection</h2>
  <% @field_list.each do |field| %>
  	<%= check_box_tag('export_fields[]', field) %>
  	<%= f.label field %>
  	<br />
  <% end %>
  <br />
  <%= f.submit "Export" %>
<% end %>