<%= link_to 'Back', home_path %>
<p id="notice"><%= notice %></p>
<h1>Import Experiment Definition File</h1>
<%= form_for :file_upload, :html => {:multipart => true}, :url => { :action => "upload_file" } do |f| %>
  <%= f.file_field :my_file %>
  <%= f.submit "Upload" %>
<% end %>