<%= link_to 'Back', home_path %>
<h1>Import Summary</h1>
<p>Found <%= @row_count %> rows of data in the file <%= @file_name %>.</p>

<table border="1">
	<tr>
		<% @columns.each do |c| %>
		<td><strong><%= c %></strong></td>
		<% end %>
	</tr>
	<% @rows.each do |r| %>
	<tr>
		<% @columns.each do |c| %>
		<td><%= r[c] %></td>
		<% end %>
	</tr>
	<% end %>
</table>
