<%= link_to 'Back', home_path %>

<p id="notice"><%= notice %></p>

<h1>Listing robots</h1>

<table>
  <tr>
    <th>Name</th>
    <th>File name</th>
    <th>Comments</th>
    <th>Inactive</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @robots.each do |robot| %>
  <tr>
    <td><%= robot.name %></td>
    <td><%= robot.file_name %></td>
    <td><%= robot.comments %></td>
    <td><%= robot.inactive %></td>
    <td><%= link_to 'Show', robot %></td>
    <td><%= link_to 'Edit', edit_robot_path(robot) %></td>
    <td><%= link_to 'Destroy', robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Robot', new_robot_path %>
<%= button_to "Load From Directory", {:action => "load_from_directory"}, :method => :load_from_directory%>
