<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @robot.name %>
</p>

<p>
  <b>File name:</b>
  <%= @robot.file_name %>
</p>

<p>
  <b>Comments:</b>
  <%= @robot.comments %>
</p>

<p>
  <b>Inactive:</b>
  <%= @robot.inactive %>
</p>


<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
