<%= form.fields_for :participants do |participant_form| %>
  <div class="field">
  	<%= participant_form.collection_select(:robot_id, Robot.all, :id, :name, options = {:prompt => "<New Participant>"}) %>
  	<% unless participant_form.object.nil? || participant_form.object.new_record? %>
  	  <div class="field">
  	  	<%= participant_form.label :_destroy, "Remove:" %>
  	  	<%= participant_form.check_box :_destroy %>
  	  </div>
  	<% end %>
  </div>
<% end %>
