<p id="notice"><%= notice %></p>

<p>
  <b>Experiment:</b>
  <%= @participant.experiment %>
</p>

<p>
  <b>Robot:</b>
  <%= @participant.robot %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
