<h1>Robots on Rails (Stevens Variant v1)</h1>
<p>This code has been altered from the RRobots baseline by adding adaptive behaviors, cargo agents, and helicopter agents.</p>
<%= link_to "Edit Robots", robots_path %>
<%= link_to "Edit Experiments", experiments_path %>
<%= link_to "Import Experiment Definition File", upload_path %>
