<h1>Listing results</h1>

<table>
  <tr>
    <th>Survival time</th>
    <th>Remaining energy</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.survival_time %></td>
    <td><%= result.remaining_energy %></td>
    <td><%= result.wins %></td>
    <td><%= result.losses %></td>
    <td><%= result.parent %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
    <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Result', new_result_path %>
