<p id="notice"><%= notice %></p>

<p>
  <b>Survival time:</b>
  <%= @result.survival_time %>
</p>

<p>
  <b>Remaining energy:</b>
  <%= @result.remaining_energy %>
</p>

<p>
  <b>Wins:</b>
  <%= @result.wins %>
</p>

<p>
  <b>Losses:</b>
  <%= @result.losses %>
</p>

<p>
  <b>Parent:</b>
  <%= @result.parent %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
