<%= link_to 'Back', home_path %>
<p id="notice"><%= notice %></p>
<h1>Listing experiments</h1>

<%= button_to "Unstick Experiments", {:action => "unstick"}, :confirm => "Only do this if you're sure no experiments are actually running.  Are you sure?", :method => :unstick %>
<%= button_to "Run Remaining Experiments", {:action => "run_remaining"} %>

<%
# We need to calculate the maximum number of robots involved in any one experiment in order to determine
# how many extra columns we'll need in the table.
@max_robots = 0
@experiments.each do |experiment|
	@max_robots = [@max_robots, experiment.participants.length].max()
end

# Make sure we always have at least one column.
@max_robots = [@max_robots, 1].max()

%>

<table border=1>
  <tr>
    <th>Name</th>
    <th>Match count</th>
    <th>Notes</th>
    
    <% @max_robots.times do %>
    	<th></th>
    <% end %>
    
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>




<% @experiments.each do |experiment| %>
  <tr>
    <td><%= experiment.name %></td>
    <td><%= experiment.match_count %></td>
    <td><%= experiment.notes %></td>

	<% if experiment.completed
		# Experiment is completed, display the participants, ranked in winning order.
		
		# Sort the results records by wins descending
		results_array = experiment.results.sort_by do |individual_result|
			experiment.match_count - (individual_result.get_data_point("tot_wins") || 0)
		end
		%>

		<% @max_robots.times do |i| %>
	    <td>
	    	<% if i < results_array.length %>
	    		<%= results_array[i].robot.name %>
	    		<br />
	    		(<%= results_array[i].get_data_point("tot_wins") || 0 %>W, <%= results_array[i].get_data_point("tot_losses") || 0 %>L, <%= results_array[i].get_data_point("tot_draws") || 0 %>D)
	    	<% end %>
	    </td>
	    <% end %>
	    
	<% elsif experiment.running %>
		<td colspan=<%= @max_robots %>>Running, <%= experiment.matches.count %> / <%= experiment.match_count %></td>
		
	<% elsif experiment.calculating_summary %>	
		<td colspan=<%= @max_robots %>>Calculating Summary Results</td>
		
	<% else %>
		<td colspan=<%= @max_robots %>>Ready</td>
	<% end %>
    
    <td><%= link_to 'Show', experiment %></td>
    <td><%= link_to 'Edit', edit_experiment_path(experiment) %></td>
    <td><%= link_to 'Destroy', experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= button_to "Run", {:action => "run", :id => experiment.id}%></td>
    <td><%= button_to "Reset", {:action => "reset", :id => experiment.id}, :confirm => "Are you sure?", :method => :reset%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiment', new_experiment_path %> | <%= link_to "Export Results", experiments_export_path %>
