<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @experiment.name %>
</p>

<p>
  <b>Match count:</b>
  <%= @experiment.match_count %>
</p>

<p>
  <b>Notes:</b>
  <%= @experiment.notes %>
</p>

<h2>Participants</h2>
<%= render @experiment.participants %>

<% if @experiment.running? %>
<h2>Experiment Running.  <%= @experiment.matches.count %> Matches Completed.</h2>
<% end %>

<% if @experiment.calculating_summary? %>
<h2>Experiment is currently calculating summary results.</h2>
<% end %>


<% if @experiment.completed? %>
<!-- TODO: Refactor this into a separate file -->
<h2>Experiment Results</h2>
<table border="1">
	<tr>
		<th>Robot</th>
		<th>Total Wins</th>
		<th>Total Losses</th>
		<th>Total Draws</th>
		<th>Average Remaining Energy</th>
		<th>Average Survival Time</th>
		<th>Average Kills</th>
		<th>Average Damage Given</th>
	</tr>
  <% @experiment.results.each do |result| %>
  <tr>
  	<td><%= result.robot.name %></td>
  	<td><%= result.get_data_point("tot_wins") || 0 %></td>
  	<td><%= result.get_data_point("tot_losses") || 0 %></td>
  	<td><%= result.get_data_point("tot_draws") || 0 %></td>
  	<td><%= (result.get_data_point("avg_remaining_energy") || 0).round(2) %></td>
  	<td><%= (result.get_data_point("avg_survival_time") || 0).round(2) %></td>
  	<td><%= (result.get_data_point("avg_kills") || 0).round(2) %></td>
  	<td><%= (result.get_data_point("avg_damage_given") || 0).round(2) %></td>
  </tr>
  <% end %>
</table>
<br>
<% end %>

<%= button_to "Run", {:action => "run", :id => @experiment.id}%>
<%= button_to "Reset", {:action => "reset", :id => @experiment.id}, :confirm => "Are you sure?", :method => :reset%>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> |
<%= link_to 'Back', experiments_path %>
