<p id="notice"><%= notice %></p>

<p>
  <b>Duration:</b>
  <%= @match.duration %>
</p>

<p>
  <b>Experiment:</b>
  <%= @match.experiment %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
